<h1>Create an account to begin posting</h1>
<form action="/signup" method="post" enctype="multipart/form-data">
  <label>Username: </label>
  <input type="text" name="username">
  <br><br>

  <label>Learn Handle: </label>
  <input type="text" name="learn_handle">
  <br><br>

  <label>Password: </label>
  <input type="password" name="password">
  <br><br>

  <input type="submit" value="Sign Up">
  <br>
  <a href="/login">Already have an account? Login here!</a>
</form>
