<h1><% if @post.user == current_user %>You<% else %><%= @post.user.username %><% end %> posted:</h1>
<br><br>

  <img src="/images/post/<%= @post.post_photo %>" style="width:50%"alt="">
  <p><%= @post.caption %></p>
  <br><br>

  <% if @post.user == current_user %>
  <form class="" action="/posts/<%= @post.id%>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" name="" value="Delete Post">
  </form>
  <% else @post.user != current_user%>
  <% end %>
