<h1>Create a new post</h1>
<form action="/posts" method="post" enctype="multipart/form-data">
  <label>Photo of Post :</label>
  <input type="file" name="file" value="">
  <br><br>

  <label>Caption: </label>
  <input type="text" name="caption" value="">
  <br><br>

  <input type="submit" name="" value="Create Post">
</form>
