<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Finstagram</title>
  </head>
  <body>
    <h1>Finstagram</h1>

    <% if is_logged_in?(session) %>
    <a href="/logout">Log out</a> | <a href="/users/<%= current_user.id %>">My Profile</a> | <a href="/posts">Home</a> | <a href="/posts/new">Create New Post</a>
    <% end %>

    <% if flash.has?(:error) %>
    <p><%= flash[:error] %></p>
    <% elsif flash.has?(:success) %>
    <p><%= flash[:success] %></p>
    <% end %>

    <%= yield %>

  </body>
</html>
